form{
    display: flex;
    flex-direction: column;
    font-style: italic;
    font-size: 0.7rem;
    line-height: 1.77rem;
    color:#555;
}
.fieldset{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    border: none;
    margin:0;
    padding: 0;
}
form label{
    margin: 7px 0 7px 15px;
}
form label[for="email"]{
    margin: 7px 0 7px 30px;
}
form input, form select{
    margin: 7px 0;
    padding: 0 0 0 10px;
    border-radius: 0;
    border-width: 1px;
    border-color: #ddd;
    border-top-color: #888;
    border-style: solid;
    background: white;
    font-style: italic;
    font-size: 0.7rem;
    line-height: 23px;
    height: 23px;
    color:#999;
}
form input[type="submit"]{
    align-self: flex-end;
    font-style: normal;
    font-size: 0.77rem;
    line-height: 0.77rem;
    height: unset;
    margin: 0;
    margin-right: 28px;
    padding: 10px 14px;
    padding-right: 19px;
    background-image: url(../images/button_bg.png);
    background-position: right center;
    background-repeat: no-repeat;
}
form input[type="radio"], form input[type="checkbox"]{
    width: 10px;
    height: 10px;
    margin: 7px 5px 7px 0;
    padding: 0;
}
form input[type="text"]::-moz-placeholder, form input[type="email"]::-moz-placeholder, form input[type="tel"]::-moz-placeholder{
    font-style: italic;
    font-size: 0.7rem;
    line-height: 1.77rem;
    color:black;
}
form select{
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-progress-appearance: none;
    appearance: none;
    background-image: url(../images/select_bg.png);
    background-position: right center;
    background-repeat: no-repeat;
}