#slider{
    position: relative;
    width: 100%;
    height: 100%;
}
    #image-area{
        width:100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: row;
    }
        #image-area > img{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: none;
        }
    #arrow-left{
        position: absolute;
        left: 12%;
        top: 35%;
        z-index: 10;
    }
    #arrow-right{
        position: absolute;
        right: 12%;
        top: 35%;
        z-index: 10;
    }